.profile-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .profile-page-header {
    margin-top: 2em;
    background-color: #fff065;
    padding: 20px;
    text-align: center;
    color: #383838;
    border-radius: 8px;
  }
  
  .profile-page-content {
    display: flex;
    flex-direction: column;
    background-color: #fff065;
    justify-content: space-between;
    align-items: center;
    padding: 4em;
    
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .profile-page-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #383838;
    opacity: 1;
  }
  
  .profile-page-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .profile-page-details h2 {
    margin-bottom: 10px;
  }
  
  