#menuButtons {
    padding: 1em;
    background-color: #FFDC00;
    border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 12em;
    height: 33em;
    top: 6em;
    left: 10%;
}
 button {
    background-color: #fff065;
    color: #383838;
    width: 9em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 button:hover {
   background-color: #5e5101;
   transition: 0.3s;
     
 }

 button:active {
    background-color: rgb(216, 216, 216);
 }

 #signOut {
    background-color: #ffffff;
 }

 #signOut:hover {
    background-color: rgb(243, 144, 144);
 }

 #logo {
   width: 10em;
   opacity: 1;
 }

 .icon {
   width: 20px;
   height: 20px;
   margin-right: 10px; 
 }
