#advertisement {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95px; 
    width: 12em;
    height: 33em;
    border-radius: 20px;
    right: 11em;
    animation: dropDown 0.8s ease forwards;
}

#advertisement img {
  opacity: 1;
  border-radius: 20px;
  border: 2px solid #FFDC00;
}
#test{
    padding-top: 1.8em;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

@keyframes dropDown {
  from {
    transform: translateY(-100vh); 
  }
  to {
    transform: translateY(0); 
  }
}
