#advertisement {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10%;
    top: 6em; 
    width: 14em;
    height: 32em;
    border-radius: 20px;
}
img {
  opacity: 1;
  border-radius: 20px;
}
#test{
    padding-top: 1.8em;
    writing-mode: vertical-rl;
    text-orientation: upright;
}