.container {
  display: flex;
  flex-direction: column; /* Adjusted for centering */
  align-items: center;
  justify-content: center;
  background: #ffdc00;
  padding-bottom: 30px;
  border-radius: 20px;
  margin: auto; /* Center the container */
  overflow: auto;
}

.input-container {
  display: flex;
  flex-direction: column; /* Adjusted for centering */
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.feed-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #ffffff;
  border-radius: 9px;
}

.feed-content {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: auto;
}

.post-item {
  display: flex;
  flex-direction: column; /* Adjusted to display header and text vertically */
  width: 400px;
  background: #fdfdfd;
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden; /* Hide overflow */
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center vertically */
  padding: 8px;
  border-bottom: 2px solid #bda400;
}

.post-text {
  padding: 8px;
  font-size: 16px;
  max-height: 80px; /* Set the maximum height */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.post-item input {
  height: 100px; /* Öka höjden för textområdet */
  width: 600px; /* Öka bredden för textområdet */
  background: transparent;
  border: none;
  outline: none;
  color: #383838;
  font-size: 19px;
}

.post-item .username {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: blue;
  margin-right: 10px;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 60px auto;
}

.submit-post {
  width: 220px;
  height: 59px;
  color: #ffffff;
  background: #5e5101;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.feed-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-input {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid #bda400;
  border-radius: 8px;
  width: 70%; /* Adjust the width of the input field */
  background-color: #ffffff;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-text-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  height: 30px; /* Adjust the height of the input field */
}

.post-button {
  background-color: #fff065;
  color: #383838;
  padding: 8px 12px; /* Adjust the padding to make the button smaller */
  border: none;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.post-button:hover {
  background-color: #5e5101;
}

.add-image-container{
  margin-top: 10px;
}

.add-image-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.add-image-icon:hover::before {
  content: 'Add Image';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.add-image-icon:hover::before {
  visibility: visible;
  opacity: 1;
}

.post-item {
  display: flex;
  flex-direction: column; /* Adjusted to display header and text vertically */
  width: 400px;
  background: #fdfdfd;
  border-radius: 6px;
  margin-top: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 2px solid #bda400;
}

.username {
  font-weight: bold;
  color: blue;
  margin-right: 10px;
}

.post-date {
  color: #888;
}

.post-text {
  padding: 8px;
  font-size: 16px;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeButton, .dislikeButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.likeButton {
  justify-content: flex-start; /* Align like button to the left */
  margin-left: 10px; /* Add some margin for separation */
}

.dislikeButton {
  justify-content: flex-end; /* Align dislike button to the right */
  margin-right: 10px; /* Add some margin for separation */
}

.likeButton:hover{
  background: none;
}

.dislikeButton:hover{
  background: none;
}

.likeButton img, .dislikeButton img {
  width: 20px; 
  height: 20px; 
}

.spacer {
  width: 10px; 
}

.feed-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-input {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid #bda400;
  border-radius: 8px;
  width: 70%;
  background-color: #ffffff;
}

.character-count-container {
  margin-top: 5px;
}

.character-counter {
  font-size: 14px;
  color: #888;
}
